/* SCROLL ANIMATION*/
#proyectos-container section {
    animation: fade-in linear both;
    animation-timeline: view(80% 0%);
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
}

#proyectos-container section:nth-child(2n) {
    animation: fade-in linear both;
    animation-timeline: view(80% 0%);
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
}

header>div {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
}


#inicio-experiencia, #inicio-objetivos {
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: exit -200px;
    padding-top: 12em!important; /*Para que funcione la navegacion*/
}


#inicio-experiencia .animated-text-wrapper,
#inicio-proyectos .animated-text-wrapper
{
    opacity: 0;
    transform-origin: left;
    animation: text-h2-in linear forwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: exit -100px;
    
}



#inicio-proyectos .proyectos-img-wrapper{
    opacity: 0;
    animation: slide-in-fwd-right linear forwards;
    animation-timeline: view();
    animation-range-start: entry 50px;
    animation-range-end: exit -500px;
}

#inicio-proyectos .proyectos-info-wrapper{
    opacity: 0;
    animation: slide-in-fwd-left linear forwards;
    animation-timeline: view();
    animation-range-start: entry 50px;
    animation-range-end: exit -500px;
}

#inicio-proyectos .proyectos-link {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: entry 50px;
    animation-range-end: exit -500px;
}

/* #inicio-objetivos{
    animation: fade-right linear forwards;
    animation-timeline: view();
    animation-range: entry -50px;
} */

body {
    overflow-x: hidden;
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    to {
        opacity: 0;
        transform: scale(1.25) translateY(-100px);
    }
}

@keyframes text-h2-in {
    0% {
        transform: translateY(-100px) scale(.8);
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: scale(.8) translateY(-200px) translate(0);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0) translateY(-300px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.8) translateY(100px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

@-webkit-keyframes slide-in-fwd-left {
    0% {
        -webkit-transform: translateZ(-600px) translateX(-200px);
        transform: translateZ(-600px) translateX(-200px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-left {
    0% {
        -webkit-transform: translateZ(-600px) translateX(-200px);
        transform: translateZ(-600px) translateX(-200px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}


@-webkit-keyframes slide-in-fwd-right {
    0% {
        -webkit-transform: translateZ(-600px) translateX(200px);
        transform: translateZ(-600px) translateX(200px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-right {
    0% {
        -webkit-transform: translateZ(-600px) translateX(200px);
        transform: translateZ(-600px) translateX(200px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}